body {
    background-color: #2d2d2d;
    color: #cfd2d6;
  }

svg {
  border: 1px solid white;
}

h1 {
    color: #cfd2d6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

text {
  color: whitesmoke;
  font-family: Consolas,monaco,monospace;
}

table, th, td {
  border:1px solid whitesmoke;
}