pip
requests
pyOpenSSL

gremlinpython==3.5.1
scikit-learn
pyyaml
pandas
openai
psycopg2-binary
cryptography
azure-functions
azure-eventhub
azure-identity
azure-eventhub-checkpointstoreblob-aio

# TODO: Migrate to .env files
django
django-storages[azure]

# MS AUTH
# git+https://github.com/azure-samples/ms-identity-python-utilities@main
ms_identity_web 

