{% extends './content.html' %}

    {% block header %}
        401: Unauthorized
    {% endblock %}

    {% block text %}
        Visiting this page requires you to be <strong>authenticated</strong>.
        Use the button on the top right to sign in.

        Note that Access is managed through active directory, which isn't configured to take on new users at this time. 
        Backlog has it scheduled to integrate in December 2024.
        In the meantime you can email me at william.jeffrey.harding@gmail.com to request access, but I'll likely ignore it until I'm ready to start testing. 
        
    {% endblock %}