{% extends './content.html' %}

    {% block header %}
    <p>
        401: Unauthorized
    </p>
    {% endblock %}

    {% block text %}
    <p>
        Other than your email, and your authentication guid, I don't store any personal information. I don't track your activity or sell your data.
    </p>
    <p>
        I don't control the MS Auth process, that's managed by Microsoft.
    </p>
    <p>
        If you get an error like: User account 'william.jeffrey.harding@gmail.com' from identity provider 'live.com' does not exist in tenant 'Default Directory' and cannot access the application
    </p>
    <p>
        Then your access has not been granted.
    </p>    
    {% endblock %}