{% extends './content.html' %}

    {% block header %}
    <p>
        401: Unauthorized
    </p>
    {% endblock %}

    {% block text %}
    <p>
        Other than your email, and your authentication guid, I don't store any personal information. I don't track your activity or sell your data.
    </p>
    <p>
        I don't control the MS Auth process, that's managed by Microsoft.
    </p>
    <p>
        <a href="https://github.com/BillmanH/exoplanets/blob/main/docs/creating_a_new_account.md">More information on the Login Process</a>
    </p>
    {% endblock %}