<div class="nav navbar-nav navbar-right">
    {% if request.identity_context_data.authenticated %}
        <p class="nav-item">
            <a class="nav-link" href="{% url 'status' %}">Hello {{ request.identity_context_data.username }}!</a>
        </p>
        <p>
            <a class="menu button" href="{% url 'sign_out' %}">Sign Out</a>
        </p>
    {% else %}
        <p>
            <a class="menu button" href="{% url 'sign_in' %}">Sign In</a>
        </p>
        <p>
            <a class="menu button" href="mailto:exodestiny@outlook.com?subject=Request Access to Exodestiny Game&body=I'd like to request access to the email address above. I understand that access can be removed at any time and grants me no special privileges whatsoever.">Request Access via Email Form</a>
        </p>

    {% endif %}
    </div>