<div class="nav navbar-nav navbar-right">
    {% if request.identity_context_data.authenticated %}
        <p class="nav-item">
            <a class="nav-link" href="{% url 'status' %}">Hello {{ request.identity_context_data.username }}!</a>
        </p>
        <p>
            <a class="menu button" href="{% url 'sign_out' %}">Sign Out</a>
        </p>
    {% else %}
        <p>
            <a class="menu button" href="{% url 'sign_in' %}">Sign In</a>
        </p>
    {% endif %}
    </div>