{% extends './layout.html' %}

    {% block banner_text %}
        {% block title %}
            Exodestiny requires registration to manage individual games. 
        {% endblock %}
    {% endblock %}

    {% block body %}
        <div class="card">
            <h5 class="card-header">
                {% block header%} {% endblock %}
            </h5>
            <div class="card-body">
                <p class="card-text">
                    {% block text %} {% endblock %}
                </p>
            </div>

        </div>
    {% endblock %}

    {% block footer %}

    {% endblock %}