{% load static %}
<html>
{% include "app/head.html" %}

<body>
    <ul>

    </ul>

</body>
<script>
    {% include "app/tooltips.js" %}

    var solar_system = {{ solar_system | safe }}
    console.log(solar_system['edges'])
    var width = 640,
        height = 480,
        defaultNodeSize = 10

    {% include "app/charts/nodemap.js" %}
    {% include "app/charts/solar_system.js" %}
    {% include "app/charts/planet_system.js" %}
    {% include "app/charts/table.js" %}
    {% include "app/charts/text_description.js" %}
</script>

</html>