{% load static %}
<html>
{% include "app/head.html" %}

<body>
    <ul>

    </ul>

</body>
<script>
    // https://github.com/d3/d3-force#simulation
    var data = {{ galaxies| safe }}
    nodes = data['nodes']
    links = []
    for (i in data['nodes']) {
        // console.log(data['edges'][i])
        nodes[i]['id'] = nodes[i]['objid'][0]
    }
    for (i in data['edges']) {
        // console.log(data['edges'][i])
        links.push({
            'source': data['edges'][i]['objects'][0],
            'target': data['edges'][i]['objects'][2],
            'label': data['edges'][i]['objects'][1]
        })
    }
    {% include "app/charts/nodemap.js" %}
</script>

</html>