{% load static %}


<head>
    <link rel="stylesheet" href="{% static 'app/main.css' %}">
    <script type="text/javascript" src="{% static 'app/d3/d3.js' %}"></script>
</head>

<body>
    <h1>New Universe Creation</h1>
    <form method="post">
        {% csrf_token %}
        {% if user.is_authenticated %}Greetings, {{ user.username }}.{% endif %}
        {% for field in form %}
        <p>
            {{ field.label_tag }} {{ field }}<br>
            {% if '%' in field.help_text %}
            <input type="range" min="0" max="1" value=".5" step=".1" class="culture slider" id="slide_{{ field.name }}"
                oninput="sliderChange('id_{{ field.name }}',this.value)">
            {{ field.help_text }}
            {% endif %}
        </p>
        {% endfor %}
        <button type="submit">Create Solar System</button>
    </form>
</body>

<script>
    function sliderChange(i, v) {
        document.getElementById(i).value = v;
    }
</script>