{% load static %}
<html>
    {% include "app/head.html" %}
</html>
<body>
    <canvas id="renderCanvas" touch-action="none"></canvas>
</body>

<script>

    var stars = {{ stars | safe }}
    conf = {width:640,
            height:480,
            defaultNodeSize:10}

    
            const canvas = document.getElementById("renderCanvas");
    const engine = new BABYLON.Engine(canvas, true);

    const createScene = function () {
        const scene = new BABYLON.Scene(engine);
        scene.clearColor = new BABYLON.Color3.Black;

        const alpha = Math.PI / 4;
        const beta = Math.PI / 3;
        const radius = 300;
        const target = new BABYLON.Vector3(0, 0, 0);

        const camera = new BABYLON.ArcRotateCamera("Camera", alpha, beta, radius, target, scene);
        camera.useFramingBehavior = true;
        camera.attachControl(canvas, true);

        {% include "app/ui/globals.js" %}

        // User interface
        {% include "app/ui/global_ui.js" %}
        
        // generatiors
        {% include "app/ui/skybox_jweb.js" %}
        {% include "app/tooltips.js" %}
        {% include "app/ui/objects/galaxy/starmap.js" %}
        
        return scene;
    }


    const scene = createScene();  
    engine.runRenderLoop(function () {
        scene.render();
    });
</script>

