{% load static %}
<html>
{% include "app/head.html" %}

<body>
    <div class="menu">
        <div>
            {% if user.is_authenticated %}Greetings, {{ user.username }}.{% endif %}
        </div>
        <p>
            <a class="menu button" href="/systemmap">System</a>
        </p>
        <p>
            <a class='menu button' href='/'>Quit</a>
        </p>
    </div>
</body>

<script>
    {% include "app/tooltips.js" %}

    var galaxies = {{ galaxies | safe }}
    var width = 640,
        height = 480,
        defaultNodeSize = 10

    {% include "app/charts/base_scatter.js" %}
    {% include "app/charts/galaxy.js" %}
</script>

<script>
</script>