{% load static %}
<html>
{% include "app/head.html" %}

<body>
    <div>
        {% if user.is_authenticated %}Greetings, {{ user.username }}.{% endif %}
    </div>
    <div class="menu">
        <p>
            <a class="menu button" href="/systemmap">System</a>
        </p>
        <p>
            <a class="menu button" href="/systemui">3d view</a>
        </p>
        <p>
            <a class="menu button" href="/populations">Population</a>
        </p>
        <p>
            <a class='menu button' href='/'>Quit</a>
        </p>
    </div>
    {% include "app/overview.html" %}
</body>

<script>
    {% include "app/tooltips.js" %}

    var galaxies = {{ galaxies | safe }}
    var width = 640,
        height = 480,
        defaultNodeSize = 10

    // the last table in this sheet is the driver, that holds the business logic for the page. 
    {% include "app/charts/base_scatter.js" %}
    {% include "app/charts/base_table.js" %}
    {% include "app/charts/galaxy.js" %}
    {% include "app/text_description.js" %}
</script>

<script>
    
</script>