{% load static %}
<html>
{% include "app/head.html" %}

<body>
    <p>
        <pre>
         ______               _           _   _             
        |  ____|             | |         | | (_)            
        | |__  __  _____   __| | ___  ___| |_ _ _ __  _   _ 
        |  __| \ \/ / _ \ / _` |/ _ \/ __| __| | '_ \| | | |
        | |____ >  < (_) | (_| |  __/\__ \ |_| | | | | |_| |
        |______/_/\_\___/ \__,_|\___||___/\__|_|_| |_|\__, |
                                                       __/ |
                                                      |___/ 
        </pre>

        
    </p>
    <p>A real-time, evolving universe of procedurally generated systems
    </br>Manage geo-politics, advance civilizations, expand into space</p>
    <canvas id="staticCanvas" touch-action="none" height="300", width="900"></canvas>
    <p>This game is in constant development. <a class="menu button" href="https://github.com/BillmanH/exoplanets">View the source code on Github</a> </br> The `dev` branch will show you what I'm working on right now</p>
    <p>You can also <a class="menu button" href="https://github.com/BillmanH/exoplanets/issues">report a bug, or request a feature</a></p>
    <p>How big is the game so far:</p>
    <ul>
        <li class="info">Number of objects in the universe: {{all_count}}</li>
        <li class="info">Number of accounts (players): {{count_accounts}}</li>
        <li class="info">Total Galactic Population: {{all_pops}}</li>
        <li class="info">Universal Time Units (TU): {{time}}</li>
    </ul>
    <div>
        <p>
            <a class="menu button" href="/new">Create a new civilization</a>
        </p>
        <p>
            <a class="menu button" href="/systemmap">Continue to your game</a>
        </p>
        <p>
            <a class='menu button' href='../accounts/logout/'>Logout</a>
        </p>
    </div>
    <div>
        <p>Created by William Harding</p>
        <a class="button" href="https://www.linkedin.com/in/hardingwilliam/">William Harding on Linked In</a>
    </div>
</body>

<script>
    var stars = {{ stars | safe }}

        
    const canvas = document.getElementById("staticCanvas");
    const engine = new BABYLON.Engine(canvas, true);

    const createScene = function () {
        const scene = new BABYLON.Scene(engine);
        scene.clearColor = new BABYLON.Color3.Black;

        const interactive = false
        const alpha = Math.PI / 4;
        const beta = Math.PI / 3;
        const radius = 50;
        const target = new BABYLON.Vector3(0, 0, 0);

        const camera = new BABYLON.ArcRotateCamera("Camera", alpha, beta, radius, target, scene);
        camera.useFramingBehavior = true;

        const alphaAnimation = new BABYLON.Animation("camAlpha", "alpha", 2, BABYLON.Animation.ANIMATIONTYPE_FLOAT, BABYLON.Animation.ANIMATIONLOOPMODE_RELATIVE)
        const keys2 = [{
            frame : 0,
            value : Math.PI
            }, {
            frame : 100,
            value :-Math.PI
        }]
        alphaAnimation.setKeys(keys2)

        camera.animations.push(alphaAnimation)
        scene.beginAnimation(camera, 0, 100, true)

        {% include "app/ui/globals.js" %}
        {% include "app/ui/global_ui.js" %}

        // generators
        {% include "app/ui/objects/galaxy/starmap.js" %}
        {% include "app/tooltips.js" %}

        dropControlIfExists("troubleshoot_box")
        return scene;
    }


    const scene = createScene();  
    engine.runRenderLoop(function () {
        scene.render();
    });
</script>
</html>  