{% load static %}
<html>
{% include "app/head.html" %}

<body>
    <p>
        <pre>
         ______               _           _   _             
        |  ____|             | |         | | (_)            
        | |__  __  _____   __| | ___  ___| |_ _ _ __  _   _ 
        |  __| \ \/ / _ \ / _` |/ _ \/ __| __| | '_ \| | | |
        | |____ >  < (_) | (_| |  __/\__ \ |_| | | | | |_| |
        |______/_/\_\___/ \__,_|\___||___/\__|_|_| |_|\__, |
                                                       __/ |
                                                      |___/ 
        </pre>
        <div>
            <img src="{% static 'app/objects/space_cover.png' %}" alt="image made with stable diffusion">
        </div>
    </p>
    <p>A real-time, evolving universe of procedurally generated systems
    </br>Manage geo-politics, advance civilizations, expand into space</p>
    <p>This game is in constant development. <a class="menu button" href="https://github.com/BillmanH/exoplanets">View the source code on Github</a>. The `dev` branch will show you what I'm working on right now</p>
    <p>You can also <a class="menu button" href="https://github.com/BillmanH/exoplanets/issues">report a bug, or request a feature</a></p>
    <p>How big is the game so far:</p>
    <ul>
        <li class="info">Number of objects in the universe: {{all_count}}</li>
        <li class="info">Number of accounts (players): {{count_accounts}}</li>
        <li class="info">Total Galactic Population: {{all_pops}}</li>
        <li class="info">Universal Time Units (TU): {{time}}</li>
    </ul>

    <div>
        <p>
            <a class="menu button" href="/new">Create a new civilization</a>
        </p>
        <p>
            <a class="menu button" href="/systemmap">Continue to your game</a>
        </p>
        <p>
            <a class='menu button' href='../accounts/logout/'>Logout</a>
        </p>
    </div>
    <div>
        <p>Created by William Harding</p>
        <a class="button" href="https://www.linkedin.com/in/hardingwilliam/">William Harding on Linked In</a>
    </div>
</body>

</html>  