{% load static %}
<html>
{% include "app/head.html" %}

<body>
    <ul>
        <li class="info">Number of objects in the universe: {{all_count}}</li>
        <li class="info">Number of accounts (players): {{count_accounts}}</li>
        <li class="info">Universal time units (TU): {{time}}</li>
    </ul>

    <div>
        <p>
            <a class="menu" href="/new">Create a new civilization</a>
        </p>
        <p>
            <a class="menu" href="/systemmap">Continue to your game</a>
        </p>
        <p>
            <a class='menu' href='../accounts/logout/'>Logout</a>
        </p>
    </div>
</body>

</html>  