{% load static %}
<html>
{% include "app/head.html" %}

<body>
    <!-- {% include "app/menu_top.html" %}
    <p></p> -->
    <canvas id="renderCanvas" touch-action="none"></canvas>
</body>
<script>
    var data = {{ data | safe }}
    var global_location = "{{ global_location | safe }}"
    console.log(data)
    
    {% include "app/ui/globals.js" %}

    const canvas = document.getElementById("renderCanvas");
    const engine = new BABYLON.Engine(canvas, true);

    const createScene = function () {
        const scene = new BABYLON.Scene(engine);
        scene.clearColor = new BABYLON.Color3.Black;

        const alpha = Math.PI / 4;
        const beta = Math.PI / 3;
        const radius = 300;
        const target = new BABYLON.Vector3(0, 0, 0);

        const camera = new BABYLON.ArcRotateCamera("Camera", alpha, beta, radius, target, scene);
        camera.useFramingBehavior = true;
        camera.attachControl(canvas, true);
        
        // User interface
        {% include "app/ui/global_ui.js" %}
        {% include "app/ui/population_ui.js" %}

        // generatiors
        {% include "app/tooltips.js" %}
        {% include "app/ajax/population_action.js" %}
        {% include "app/ui/objects/resources.js" %}
        {% include "app/ui/objects/buildings.js" %}
        {% include "app/ui/skybox_green_planet.js" %}
        {% include "app/ui/population_planet.js" %}


        return scene;
    }


    const scene = createScene();
    engine.runRenderLoop(function () {
        scene.render();
        {% include "app/ui/render_cleanup.js" %}
    });
</script>

</html>