{% load static %}
<html>
{% include "app/head.html" %}

<body>
    {% include "app/menu_top.html" %}
    <p></p>
    {% include "app/overview.html" %}
</body>

<script>
    {% include "app/tooltips.js" %}

    var factions = {{ factions | safe }}


    cnsl(factions)
    var width = 640,
        height = 480,
        defaultNodeSize = 10

    // the last table in this sheet is the driver, that holds the business logic for the page. 
    {% include "app/charts/base_table.js" %}
    {% include "app/charts/base_scatter.js" %}
    {% include "app/charts/base_action.js" %}
    {% include "app/text_description.js" %}
    {% include "app/charts/factions.js" %}
</script>