{% load static %}
<html>
{% include "app/head.html" %}

<body>
    {% include "app/menu_top.html" %}
    <p></p>
    <canvas id="renderCanvas" touch-action="none"></canvas>
</body>
<script>
    var data = {{ data | safe }}
    console.log(data)
    
    {% include "app/ui/globals.js" %}
    var width = 640,
        height = 480,
        defaultNodeSize = 10

    const canvas = document.getElementById("renderCanvas");
    const engine = new BABYLON.Engine(canvas, true);

    const createScene = function () {
        const scene = new BABYLON.Scene(engine);
        scene.clearColor = new BABYLON.Color3.Black;

        const alpha = Math.PI / 4;
        const beta = Math.PI / 3;
        const radius = 600;
        const target = new BABYLON.Vector3(0, 0, 0);

        const camera = new BABYLON.ArcRotateCamera("Camera", alpha, beta, radius, target, scene);
        camera.useFramingBehavior = true;
        camera.attachControl(canvas, true);
        
        var dashboard = BABYLON.GUI.AdvancedDynamicTexture.CreateFullscreenUI("UI");


        
        var textblock = new BABYLON.GUI.TextBlock("textblock")
            textblock.textHorizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_RIGHT;
            textblock.textVerticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_TOP
            textblock.fontSize = 24;    
            textblock.background = "black";
            textblock.color = "white";    
            dashboard.addControl(textblock);

        {% include "app/ui/population_planet.js" %}

        {% include "app/tooltips.js" %}




        return scene;
    }

    const system = createScene();

    engine.runRenderLoop(function () {
        system.render();
    });
</script>

</html>