{% load static %}
<html>
{% include "app/head.html" %}

<body>
    {% include "app/menu_top.html" %}
    <canvas id="renderCanvas" touch-action="none"></canvas>
</body>
<script>
    var solar_system = {{ solar_system | safe }}
    var global_location = solar_system.system.objid
    console.log(solar_system)
    
    {% include "app/ui/globals.js" %}
    {% include "app/ui/system_globals.js" %}
    var width = 640,
        height = 480,
        defaultNodeSize = 10

    const canvas = document.getElementById("renderCanvas");     
    const engine = new BABYLON.Engine(canvas, true);

    const createScene = function () {
        const scene = new BABYLON.Scene(engine);
        scene.clearColor = new BABYLON.Color3.Black;

        const alpha = Math.PI / 4;
        const beta = Math.PI / 3;
        const radius = 600;
        const target = new BABYLON.Vector3(0, 0, 0);

        const camera = new BABYLON.ArcRotateCamera("Camera", alpha, beta, radius, target, scene);
        camera.useFramingBehavior = true;
        camera.attachControl(canvas, true);
        
        {% include "app/ui/global_ui.js" %}
        {% include "app/ui/system_ui.js" %}

        {% include "app/tooltips.js" %}
        {% include "app/ui/skybox_jweb.js" %}
        {% include "app/ui/solar_system.js" %}

        return scene;
    }

    const system = createScene();

    engine.runRenderLoop(function () {
        system.render();
    });
</script>

</html>