{% load static %}
<html>
{% include "app/head.html" %}
<body>
    <canvas id="renderCanvas" touch-action="none"></canvas>
</body>
<script>
    var data = {{ data | safe }}
    var global_location = data.solar_system.system.objid
    console.log(data)
    
    {% include "app/ui/globals.js" %}
    {% include "app/ui/system_globals.js" %}


    const canvas = document.getElementById("renderCanvas");     
    const engine = new BABYLON.Engine(canvas, true);

    const createScene = function () {
        const scene = new BABYLON.Scene(engine);
        scene.clearColor = new BABYLON.Color3.Black;

        const alpha = 4.11;
        const beta = Math.PI / 3;
        const radius = 600;
        const target = new BABYLON.Vector3(0, 0, 0);

        const camera = new BABYLON.ArcRotateCamera("Camera", alpha, beta, radius, target, scene);
        camera.useFramingBehavior = true;
        camera.attachControl(canvas, true);
        
        {% include "app/ui/global_ui.js" %}
        {% include "app/ui/system_ui.js" %}

        {% include "app/tooltips.js" %}
        {% include "app/ui/skybox_night_sky.js" %}
        {% include "app/ui/solar_system.js" %}

        return scene;
    }

    const scene = createScene();

    engine.runRenderLoop(function () {
        scene.render();
    });
</script>

</html>