{% load static %}
<html>
{% include "app/head.html" %}

<body>
    <div>
        {% if user.is_authenticated %}Greetings, {{ user.username }}.{% endif %}
    </div>
    <div class="menu">
        <p>
            <a class="menu button" href="/galaxymap">Galaxy</a>
        </p>
        <p>
            <a class="menu button" href="/systemui">3d view</a>
        </p>
        <p>
            <a class="menu button" href="/populations">Population</a>
        </p>
        <p>
            <a class='menu button' href='/'>Quit</a>
        </p>
    </div>
</body>

<script>
    {% include "app/tooltips.js" %}

    var solar_system = {{ solar_system | safe }}
    
    account = solar_system['nodes'].filter(function(d){return d['objtype']=='account'})[0]
    solar_system['nodes'] = solar_system['nodes'].filter(function(d){return d['objtype']!='account'})
    console.log(solar_system['nodes'])

    var width = 640,
        height = 480,
        defaultNodeSize = 10

    {% include "app/charts/base_nodemap.js" %}
    {% include "app/charts/base_table.js" %}
    {% include "app/text_description.js" %}
    {% include "app/charts/solar_system.js" %}
    {% include "app/charts/planet_system.js" %}
</script>

</html>