{% load static %}
<html>
{% include "app/head.html" %}

<body>
    {% include "app/menu_top.html" %}
    <p></p>
</body>

<script>
    {% include "app/tooltips.js" %}
    var solar_system = {{ solar_system | safe }}

    
    account = solar_system['nodes'].filter(function(d){return d['objtype']=='account'})[0]
    solar_system['nodes'] = solar_system['nodes'].filter(function(d){return d['objtype']!='account'})
    console.log(solar_system['nodes'])

    var width = 640,
        height = 480,
        defaultNodeSize = 10


    {% include "app/text_description.js" %}

</script>

</html>