body {
    background-color: #2d2d2d;
    color:#90EE90
  }


svg {
  border: 1px solid white;
  border-radius: 10px;
}

h1 {
    color: #cfd2d6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


text {
  color: whitesmoke;
  font-family: Consolas,monaco,monospace;
}

table, th, td {
  border:1px solid whitesmoke;
  color: #cfd2d6;
  font-family: Consolas,monaco,monospace;
  border-radius: 5px;
}

#hover-tooltip {
  color: black
}

.table-hover {
  color:#4AF626;
  font-family: "DejaVu Sans Mono", monospace
}


.menu {
  color: whitesmoke
}

.info {
  color:#90EE90
}