body {
  background-color: #2d2d2d;
  color: #90EE90
}


svg {
  border: 1px solid white;
  border-radius: 10px;
}

h1 {
  color: #cfd2d6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


text {
  color: whitesmoke;
  font-family: Consolas, monaco, monospace;
}

table,
th,
td {
  border: 1px solid whitesmoke;
  color: #cfd2d6;
  font-family: Consolas, monaco, monospace;
  border-radius: 5px;
}

#hover-tooltip {
  color: black
}

.table-hover {
  color: #4AF626;
  font-family: "DejaVu Sans Mono", monospace
}


.menu {
  color: whitesmoke;
  padding: 5px 5px;
  border: 1px solid white;
}

.button {
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 14px 25px;
  border: 1px solid white;
}

.button:hover {
  background-color: whitesmoke;
  color: black;
}

.info {
  color: #90EE90;
}

.axis-label {
  color: whitesmoke;
}

#renderCanvas {
  width: 100%;
  height: 100%;
}

.slider {
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
